@import '../../././colors.scss';

.userInfo {
  width: 98%;
  height: auto;

  display: flex;
  flex-direction: column;

  margin-top: 2vh;
  padding: 4vw 4vh;

  font-size: 1em;

  border-radius: 4px;
  border: 1px solid $border-color;
  box-shadow: 0 10px 20px 0 $modal-box-shadow-color;

  .title {
    color: $form-sub-tile-color;
  }

  .infoColumn {
    display: flex;
    flex-direction: column;

    p {
      color: $form-sub-tile-color;

      span {
        color: black;
      }
    }
  }

  .labels {
    max-width: max-content;

    color: $form-sub-tile-color;
  }

  button {
    //margin-top: 2vh;
    width: 100%;
  }

  .buttons {
    display: inline-flex;
    padding-top: 20px;
  }
}

.userProfile {
  max-width: 90%;
  margin: 0 auto;
}

.deleteButton {
  margin: 20px auto;
  bottom: 0;
  min-width: 160px;
  width: 10vw;
}