@import 'colors';

$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;


#root {
  width: auto;
}

* {
  font-family: 'system-ui';
  font-size: 16px;
}

.main-container {
  width: auto;
}


main, body {
  width: 100vw;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
;
}

// main
.main {
  display: grid;

  height: 100%;
  grid-template-columns: 240px auto;
  grid-template-rows: auto auto;

  justify-items: stretch;

  grid-template-areas:
    "sidebar nav"
    "sidebar main-content"
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 0 auto;

    width: 100%;
    margin: 0;
  }
}

body {
  padding: 0;
  margin: 0;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  z-index: 101;
}

.nav {
  grid-area: nav;
  position: fixed;
  z-index: 100;
  background: $bg-color;
}

.content {
  grid-area: main-content;
  align-self: start;
  padding-top: 80px;
  margin-bottom: 50px;
}

.form-content {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30vw;
  padding-right: 30vw;

  .main-form {
    margin-top: -20vh;
  }

}

@media (max-width: 768px) {

  .content {
    margin-top: 0;
  }

  .form-content {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .rules {
    display: flex !important;
    flex-direction: column
  }
}


// tables
table {
  border-collapse: collapse;
  width: 98%;

  thead {
    background: $table-head-color;
    font-weight: normal;
    text-align: center;
  }

  td {
    border: 1px solid $table-border-color;
    padding: 10px;
  }

  th {
    border-top: none;
  }

  tbody > tr:hover {
    background-color: $tips-bg-color;
    cursor: pointer;
  }

  th {
    border-top: none;
  }

  td:first-child,
  th:first-child {
    border-left: none;
  }

  td:last-child,
  th:last-child {
    border-right: none;
  }

  tr:last-child td {
    border-bottom: none;
  }

  .column-action {
    width: 50px;
    text-align: center;
  }
}


thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


// info about table
.total {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;

  h4, span {
    font-size: 1.1em;
  }

  span {
    font-weight: lighter;
  }

  button {
    width: 190px;
    float: left;
  }
}

@media (max-width: 768px) {
  .total {
    display: flex;
    gap: 0;
    flex-direction: column;

    h4 {
      margin: 0;
      padding: 0;
    }
  }

}

// lists
ul {
  list-style-type: none;
}

.container-list-options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: none;
  z-index: 5;
}

.options-list {
  z-index: 6;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 20px;
  margin-top: -10px;
  margin-left: -90px;

  background: $bg-color;
  border-radius: 6px;
  border: 1px solid $grey-color;
  box-shadow: 0 0 6px $grey-color;

}

li {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

li:hover {
  color: $green-color;
}

// modal window
.modal {
  z-index: 1000;
  width: 100vw;
  height: 100vh;

  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: $modal-background-color;

  .modal-header {
    font-size: 1.6em;
  }

  .modal-subtitle {
    padding-top: 30px;
    font-size: 1.1em;
  }

  .modal-header, .modal-subtitle {
    border-bottom: 1px solid $modal-box-shadow-color;
    padding-bottom: 10px;
    margin: 0;
  }

  .modal-window-content {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: auto;

    text-align: left;

    background: $bg-color;
    padding: 30px;

    border-radius: 12px;
  }

  .modal-window-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 20px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {

  .modal {
    .modal-window-content {
      max-width: 100vw;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 20px;
    }
  }
}


// form
.form {
  padding-top: 20px;

  .form-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;

    label {
      font-size: 0.9em;
    }

    select {
      margin: 0;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .form-row {
    display: flex;
    flex-direction: row;
    gap: 20px;

    button {
      width: auto;
    }
  }

  .form-column {
    display: flex;
    flex-direction: column;
    gap: 0;

    overflow: auto;

    span {
      margin-top: 20px;
      margin-bottom: -10px;
      color: $secondary-btn-color-hover;
    }
  }
}

.password-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .password-hidden-show {
    width: fit-content;
    right: 0;
    margin: 0 0 -64px;
    padding: 0 30px 0 0;
    z-index: 200;
  }

}


.form-subtitle {
  font-weight: lighter;
}

@media (max-width: 768px) {

  .form {
    .form-row, .buttons {
      flex-direction: column;
      gap: 0;

      button {
        margin: 10px;
      }
    }

  }

}

input, .label, select, textarea {
  padding: 10px;
  border: 1px solid $green-color;
  border-radius: 8px;
}

.label {
  color: $green-color;
  padding: 8px;
  font-weight: normal;
}

.label:hover {
  box-shadow: 0 0 4px $green-color;
}

.label {
  display: inline-flex;
  align-items: flex-end;
  align-content: center;

  border-radius: 6px;
  cursor: pointer;
}

input:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px $input-box-shadow-color;
  border-color: $input-border-color;
  outline: none;
}

/* Style for disabled input */
input:disabled {
  background-color: $input-background-color;
  color: $input-border-color;
  cursor: not-allowed;
}

.invalid-feedback {
  color: $danger-btn-color;
  font-size: 0.8em;
}

.is-invalid {
  border-color: $danger-btn-color;
}

.is-valid {
  border-color: $green-color;
}

.select {
  display: flex;
  flex-direction: column;

  select {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $green-color;
  }
}

.reader {
  height: 50vh;
  width: 50vw;
}


// pagination
.container-pagination {
  padding-left: 20px;

  display: inline-flex;
  width: 100%;
}

// card
.card-title-container {
  width: 90%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between
}

.item-actions {
  cursor: pointer;
}

.item-actions:hover {
  color: $green-color;
}

.panel {
  margin: 0;
  width: 100%;

  h4 {
    padding-right: 20px;
  }
}

.code {
  width: 230px;
  margin: 2vh 0;
}

.fullScreen {
  height: 100vh;
}

//  password validation
.password-rules {
  width: auto;
  min-height: 15vh;
  margin-top: 1vh;
  padding: 0 1em 0 1em;

  text-align: center;
  background: $tips-bg-color;
  border-radius: 10px;

  .password-rules-progress {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
  }

  .password-bar {
    //background: $form-sub-tile-span;

    width: 100%;
    height: 0.7vh;

    border-radius: 5px;
  }

  .password-bar-default-color {
    background: $grey-color;
  }

  .password-bar-success-color {
    background: $green-color;
  }

  .rules {
    margin: 0 auto;
    width: auto;

    color: $form-sub-tile-color;

    .column-rules {
      margin-top: 1vh;

      div {
        display: flex;
        align-items: center;
        margin-bottom: 1vh;
      }

      .rule-icon {
        float: right;
        width: auto;
      }
    }
  }
}

.success-color-span {
  color: $green-color;
}

.default-color-span {
  color: $form-sub-tile-color;
}

.success-color-icon {
  color: $green-color;
}

.default-color-icon {
  color: $grey-color;
}

button {
  margin-top: 2vh;
}

.btn.btn-primary[disabled] {
  background-color: $primary-btn-color-disable;
}

.error-span {
  font-size: 16px;
  color: $danger-btn-color;
}

.hidden-span {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.hello-content {
  width: 30vw;
  min-width: 320px;
  margin-top: 80px;
}


// card

.main-wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.list-container {
  margin-top: 5vh;
  display: grid;
  align-items: stretch;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

  width: fit-content;
  padding-bottom: 6vh;
}

@media (max-width: 768px) {

  .list-container {
    min-width: 300px;
    grid-template-columns: repeat(2, 1fr);
  }

  .panel {
    margin: 0;
  }

}


@media (max-width: 420px) {
  .list-container {
    min-width: 300px;
    grid-template-columns: repeat(1, 1fr);
  }

  .total {
    h4 {
      margin-left: 20px;
    }
  }
}

.list-card {
  box-shadow: 0 0 5px $modal-box-shadow-color;
  border-color: $border-color;
  border-radius: 6px;
}

.container-info {
  display: grid;
  grid-template-areas:
          "image info"
           "buttons-card buttons-card";

  padding: 20px;
}

.card-image {
  grid-area: image;
}

.card-info {
  grid-area: info;
}

.card-buttons {
  grid-area: buttons-card;
}

.card-image {
  height: 100%;
  width: 100%;
}

.button-icon {
  margin: 0 10px;
}

.deleted-item {
  color: $sub-text-color;
  background: rgba(130, 130, 130, 0.1);
}

.filter-form {
  display: inline-flex;
  align-items: center;
  gap: 26px;
}

.select-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  padding: 10px;
  box-shadow: 0 0 5px $modal-box-shadow-color;
  border-color: $border-color;
  border-radius: 6px;
  width: fit-content;

  label {
    margin-bottom: 6px;
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 4px 10px;
  }

}

.select-user-role, .select-deleted {

  button {
    margin-top: 0 !important;
  }

}

.search-input {
  height: 36px;
}

.table-header-cell {
  display: inline-flex;
}

.sort-buttons {
  width: 40px;
  display: flex;
  flex-direction: column;

  .icon {
    cursor: pointer;
    color: $modal-box-shadow-color;
  }

  .icon-active {
    color: black;
  }

  .icon:hover {
    color: $green-color;
  }
}

.selected-option {
  color: $green-color;
}

.preview-image {
  height: 50px;
  border: 1px solid $sub-text-color;
}

.grid-images {
  width: 320px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.input-image {
  opacity: 0;
  height: 0;
}

#image-label {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 30px;
  background: #fff no-repeat center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px $border-color;
  border-radius: 10px;
  flex-direction: column;
  gap: 15px;
  user-select: none;
  cursor: pointer;
  color: #207ed1;
  transition: all 1s;
  text-align: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.delete-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $modal-box-shadow-color;
  color: white;

  cursor: pointer;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.delete-overlay:hover {
  opacity: 1;
}

.pending_delivery, .processing {
  background: orange;
}

.delivered, .canceled {
  background: indianred;
}

.in_stock, .completed {
  background: $green-color;
}

.character-count {
  font-size: 0.7em;
  float: right;
}

.created {
  background: #0077ff;
}

.backordered {
  background: #6610f2;
}

.deleted {
  background: rgb(130, 130, 130);
}

.selected-row {
  background: rgba(0, 144, 63, 0.3);
}
