$text-color: rgba(211, 211, 211, 0.56);
$sub-text-color: #828282;
$bg-color: white;

$form-sub-tile-color: #4F4F4F;
$grey-color: #b4b4b4;
$tips-bg-color: #E9F5EE;
$green-color: rgb(23, 103, 57);

$primary-btn-color: #F2994A;
$primary-btn-color-active: #c05700;
$primary-btn-color-hover: #f1811c;
$primary-btn-color-disable: rgba(241, 129, 28, 0.5);

$secondary-btn-color: $green-color;
$secondary-btn-color-active: rgb(23, 103, 57);
$secondary-btn-color-hover: #1c7743;
$secondary-btn-color-disable: rgba(66, 108, 84, 0.5);

$danger-btn-color: #d52537;
$danger-btn-color-active: #b92130;
$danger-btn-color-hover: #a81e2c;
$danger-btn-color-disable: #bb4d59;

$input-box-shadow-color: rgba(0, 123, 255, 0.5);
$input-border-color: rgb(0, 123, 255);
$input-background-color: #f8f9fa;

$modal-box-shadow-color: rgba(0, 0, 0, 0.1);
$modal-background-color: rgba(0, 0, 0, 0.7);
$border-color: rgba(0, 0, 0, 0.22);

$table-head-color: #F2F2F2;
$table-border-color: #ddd;

$li-border-color: #ccc;