@import '../../././colors.scss';

.navBarContainer {
  width: 100vw;

  padding-left: 240px;
  height: 64px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid $modal-box-shadow-color;

  color: $sub-text-color;
  font-weight: normal;

  .backIcon {
    margin-right: 20px;
    cursor: pointer;
  }

  .backIcon:hover {
    color: #484848;
  }

  span {
    font-weight: normal;
    font-size: 1.5rem;
  }

  .searchInput {
    display: inline-flex;
    align-items: center;

    input {
      width: 20vw;
      margin-right: 12px;
    }

  }
}

.libraries {
  z-index: 6;

  display: flex;
  flex-direction: column;
  gap: 0;

  margin-top: 0;
  margin-left: 234px;

  position: absolute;
  padding: 5px;

  background: $bg-color;
  list-style-type: none;

  border: 1px solid $border-color;
  box-sizing: border-box;
  box-shadow: 3px 4px 15px -1px $modal-box-shadow-color;
  border-radius: 5px;

  cursor: default;

  li {
    border-bottom: 1px solid $li-border-color;
    padding: 10px;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    cursor: pointer;
    text-decoration: $sub-text-color;

    color: $green-color;
  }
}

@media (max-width: 768px) {

  .navBarContainer {
    padding-left: 80vw;

    span {
      display: none;
    }
  }


  .navBarContainer {
    margin-top: 0;
    margin-left: 30px;
    z-index: 102;
    background: none;
    border-bottom: none;

    .searchInput {
      input {
        width: 40vw;
        height: 16px;
      }
    }

    span {
      color: white;
    }

    .libraries {
      position: fixed;
      margin: 0;
      width: 100vw;
    }
  }

  button div, .searchBtn {
    display: none;
  }

  .backIcon {
    margin-right: 0;
    float: right;
    color: white;
  }
}


@media (max-width: 460px) {

}